---
layout: projects
---

<section class="mt-15">
    {% set postslist = collections.project %}

    {% for post in postslist %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            {% if post.data.tags %}
            <p class="tag-list">
                {% for tag in post.data.tags %}
                {%- if tag != "project" -%}
                    <i>{{ tag }} </i>
                {%- endif -%}
                {% endfor %}
            </p>
            {% endif %}
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" style="color: #3b82f6; font-size: 1.125rem;">
                    <strong>Read more →</strong>
                </a>
            </p>

        </article>
    {% endfor %}
</section>
